body {
    background-color: lightgrey;
}

h1 {
    font-size: 40px;
    color: teal;
}

h2 {
    color: red;
    font-size: 40px;
}

h2 {
    color: hotpink;
}

.big {
    font-size: 70px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.big.uppercase {
    color: navy;
}

h1 span {
    color: brown;
}